@import './variable.scss';

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 22px;
    border-radius: 20px;
    background-color: $bulkToggleON;

    & input {
        opacity: 0;
        width: 30px;
        height: 10px;
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        background-color: $bulkToggleOFF;
        transition: .6s;

        &::before {
            position: absolute;
            content: "";
            height: 30px;
            width: 30px;
            left: 0px;
            bottom: 0px;
            top: -3px;
            background-color: black;
            transition: .6s;
            border-radius: 50%;
        }
    }
}

input:checked+.rounded::before {
    transform: translateX(30px);
}

input:checked+.rounded {
    background-color: transparent;
}