.homeHeader {
    grid-row: 1/2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    &__newRoom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        background: rgba(126, 107, 107, 0.5);
        width: 45px;
        height: 45px;

        &:hover {
            background: rgba(214, 185, 185, 0.5);
            cursor: pointer;
        }
    }

    &__window {
        position: absolute;
        width: 100vw;
        top: 100%;
        left: 0;
        display: flex;
        justify-content: space-around;

        &-name {
            box-shadow: 5px 5px 20px 3px rgba(0, 0, 0, 0.8)
        }
    }
}