@import './components/sass/variable.scss';
@import './components/sass/input.scss';
@import './components/sass/button.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 60vh 20vh;
}